<ul class="nav">
    <li {% if highlight == 1 %}class="highLight"{% endif %}><a href="open">開單</a></li>
    <li {% if highlight == 2 %}class="highLight"{% endif %}><a href="order">點餐</a></li>
    <li {% if highlight == 3 %}class="highLight"{% endif %}><a href="forcall">叫餐資訊</a></li>
    <li {% if highlight == 4 %}class="highLight"{% endif %}><a href="statement">收銀</a></li>
    <li {% if highlight == 5 %}class="highLight"{% endif %}><a href="modify">刪除訂單</a></li>
</ul>
